@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
}

:root{
    --bg-color:#dee1e7;
    --second-bg-color: #101156;
    --text-color:#090909;
    --main-color:rgb(19, 11, 59);

}

html{
    font-size: 62.5%;
}

body{
    background: -var(--bg-color);
    color: var(--text-color);
}
.section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid brown;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;


}

.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.span{
    color: #bd2323;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
}
.home-img img{
    width: 90vh;
    height: 85vh;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
    
}

.home-content p{
    font-size: 1.6rem;

}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2rem 1.5rem 2rem 0;
transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: white;
    box-shadow: 0 0 1 rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: white;
    border-radius: 4rem;
    box-shadow: 0 0 1rem black;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover{
    box-shadow: none;
}

.about{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #e7e3e3;
}

.about-img img{
    width: 40vw;
  height: 45vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
    color: rgb(16, 15, 15);
}
.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.services h2{
    margin-bottom: 1rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.services-container .services-box{
    flex: 1 1 1rem;
    background: wheat;
    padding: 3rem 2rem 4rem;
    border-radius: 15rem;
    text-align: center;
    border: .4rem solid whitesmoke;
    transition: .5s ease;
}
.services-container .services-box:hover{
    border-color: #090909;
    transform: scale(1.02);
}
.services-box i{
    font-size: 9rem;
    color: #090909;
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: #e7e3e3;

}

.portfolio h2{
    margin-bottom: 3rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 4rem;
    box-shadow: 8 2 1rem rgb(8, 8, 8);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(113, 112, 112, 0.94), rgb(150, 147, 147));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer  {
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;

}

.portfolio-layer p{
    font-size: 1.4rem;
    margin: .3rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #dee1e7;
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {

    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(142, 148, 148);
    background: #2a2929;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #dee1e7;
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0a0a0a;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #0a0a0a;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #efecec;
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}


@media (max-width: 991px)
{
    .header {
         padding:  2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
    .portfolio { padding: 7rem;}
    .services {
        padding-bottom: 7rem;
    }
    .contact  { min-height: auto;}
}

@media ( max-width: 768px){
    #menu-icon {
        display: block;
        color: #090909;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; 
        padding: 1rem 3%;
        background: #aaa8a8;
        border-top: .1rem solid rgb(150, 147, 147);
        box-shadow: 0 .5rem 1rem rgb(150, 147, 147);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
.home {
    flex-direction: column;
}
.home-content h3 {
font-size: 2.6rem;
}
 
.home-content h1 {
    font-size: 5rem;
}
.home-img img {
    width: 70vw;
    margin-top: 4rem;
}

.about {
    flex-direction: column-reverse;
}
.about-img {
    width: 70vw;
    margin-top: 4rem;
}
 .services  h2 {
margin-bottom: 3rem;
 }

.portfolio h2 {
    margin-bottom: 3rem;
}
.portfolio-container {
    grid-template-columns:  repeat(2, 1fr);
}
}

@media (max-width : 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;

    }
}

}

@media (max-width: 365px) {
    .footer {
        flex-direction: column-reverse;
    }
    .home-img img {
        width: 90vw;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
